* {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-family: 'Ropa Sans', sans-serif; }

html {
  font-size: 16px; }

body {
  position: relative;
  height: 100%;
  overflow-y: scroll; }

footer {
  min-height: 100px;
  line-height: 100px;
  color: grey;
  background-color: #c9d0a7; }
  @media screen and (min-width: 768px) {
    footer {
      /*A partir de X px*/ } }

.container {
  height: 100%;
  width: 100%; }

.separador {
  height: 30px; }

#header--top {
  background-color: white;
  top: 0;
  color: grey;
  text-align: left;
  height: 35px;
  text-align: center; }
  @media screen and (min-width: 468px) {
    #header--top {
      /*A partir de X px*/
      height: 50px;
      text-align: left; } }

.img_logo {
  height: 35px;
  width: 231px; }
  @media screen and (min-width: 468px) {
    .img_logo {
      /*A partir de X px*/
      height: 50px;
      width: 330px; } }

.affix {
  top: 0;
  width: 100%;
  z-index: 1000 !important; }

.carousel--gutters {
  padding-left: 15px;
  padding-right: 15px; }

.row--parallax {
  min-height: 50px;
  /* The image used */
  background-image: url("../images/firma_cervantes.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .row--parallax {
      /*A partir de X px*/
      max-height: 30px; } }
  @media screen and (min-width: 992px) {
    .row--parallax {
      /*A partir de X px*/
      min-height: 40px; } }
  @media screen and (min-width: 1200px) {
    .row--parallax {
      /*A partir de X px*/
      min-height: 50px; } }

div[class^='row'].no-gutter {
  margin: 0 auto;
  padding-right: 0;
  padding-left: 0; }

div[class^='row'].no-gutter [class*='col-']:not(:first-child), div[class^='row'].no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0; }

.container div[class^='row'] div[class*='col'] {
  height: 100%; }

@media screen and (min-width: 768px) {
  .w--1024px {
    /*A partir de X px*/
    max-width: 1024px; } }

div[id^='row--cont--ar--0--0'] {
  min-height: 200px !important;
  width: 100%;
  max-width: 1024px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }
  @media screen and (min-width: 468px) {
    div[id^='row--cont--ar--0--0'] {
      /*A partir de X px*/
      min-height: 275px !important; } }
  @media screen and (min-width: 768px) {
    div[id^='row--cont--ar--0--0'] {
      /*A partir de X px*/
      min-height: 300px !important; } }
  @media screen and (min-width: 992px) {
    div[id^='row--cont--ar--0--0'] {
      /*A partir de X px*/
      min-height: 325px !important; } }
  @media screen and (min-width: 1200px) {
    div[id^='row--cont--ar--0--0'] {
      /*A partir de X px*/
      min-height: 350px !important; } }

#row--cont--ar--0--0--f2 {
  background-image: url("../images/Valencia/Cervantes_en_Valencia-4.png"); }

div[id^='row--cont--ar--0--1'] {
  min-height: 400px !important;
  background-image: url("../images/img_00_small.jpg");
  background-size: cover; }
  @media screen and (min-width: 768px) {
    div[id^='row--cont--ar--0--1'] {
      /*A partir de X px*/
      background-image: url("../images/img_00_medium.jpg"); } }
  @media screen and (min-width: 992px) {
    div[id^='row--cont--ar--0--1'] {
      /*A partir de X px*/
      background-image: url("../images/img_00.jpg"); } }

.rostro {
  max-width: 1024px;
  min-height: 350px !important;
  background-image: url("../images/Rostro/slide.jpg"); }
  @media screen and (min-width: 768px) {
    .rostro {
      /*A partir de X px*/ } }

.img--long {
  height: 60px;
  width: 100%; }

#row--long--5-1, #row--long--5-2, #row--long--1-1 {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; }

.centrar {
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px; }

#row--cont--ar--5-2 {
  height: 180px !important; }

div[class^='row'].no-gutters {
  margin-right: 0;
  margin-left: 0; }

div[class^='row'].no-gutters > [class^="col-"],
div[class^='row'].no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.h--180px {
  min-height: 180px; }

.h--200px {
  min-height: 200px; }

.h--300-200px {
  max-height: 200px; }
  @media screen and (min-width: 768px) {
    .h--300-200px {
      /*A partir de X px*/
      min-height: 300px; } }

.color--1 {
  background-color: white; }

.color--2 {
  background-color: white; }

.img--pluma {
  margin-top: 50px;
  transform: scale(0, 0); }

.img--lacre {
  height: 40px;
  width: 40px; }
  @media screen and (min-width: 768px) {
    .img--lacre {
      /*A partir de X px*/
      height: 50px;
      width: 50px; } }

img[id^='img--cap--small'] {
  border: solid 4px;
  -webkit-border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  width: 100%;
  max-width: 300px;
  height: 200px !important; }
  @media screen and (min-width: 768px) {
    img[id^='img--cap--small'] {
      /*A partir de X px*/
      display: none; } }

img[id^='img--cap--medium'] {
  border: solid 4px;
  -webkit-border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  /* Safari 3.1-5 */
  -o-border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  /* Opera 11-12.1 */
  border-image: url(../images/paper-1074136_1920.jpg) 30 round;
  width: 100%;
  display: none; }
  @media screen and (min-width: 768px) {
    img[id^='img--cap--medium'] {
      /*A partir de X px*/
      display: block; } }

div[class^='flex--'] {
  display: -webkit-flex;
  /* Safari */
  -webkit-flex-flow: row-reverse wrap;
  /* Safari 6.1+ */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 200px; }

.item--flex {
  width: 94%; }

.sec--lacre {
  display: flex;
  flex-flow: row;
  align-items: center; }

.div--flex--click {
  width: 80%;
  text-align: right; }

.div--flex--lacre {
  width: 20%; }

.span--text {
  position: absolute;
  float: left;
  top: 3px;
  left: 3px;
  color: silver;
  z-index: 9999; }

.img--lacre {
  cursor: pointer; }
  @media screen and (min-width: 768px) {
    .img--lacre {
      /*A partir de X px*/ } }

#caja--1, #caja--2 {
  min-height: 200px !important; }
  @media screen and (min-width: 468px) {
    #caja--1, #caja--2 {
      /*A partir de X px*/
      min-height: 275px !important; } }
  @media screen and (min-width: 768px) {
    #caja--1, #caja--2 {
      /*A partir de X px*/ } }

.img--res {
  height: 100%;
  width: 100%; }

.div-text-giro {
  height: 100px;
  width: 100px;
  border: solid 1px;
  position: absolute;
  top: 0px;
  left: 45%; }
  @media screen and (min-width: 1200px) {
    .div-text-giro {
      top: 0px;
      left: 248px; } }

#miBarra {
  font-size: 1.3rem;
  background-color: #c9d0a7;
  border: none; }

.mod {
  border: none; }

.img-valencia {
  max-width: 200px; }
  @media screen and (min-width: 468px) {
    .img-valencia {
      max-width: 300px; } }

.flip--cont {
  padding-bottom: 20px;
  perspective: 1000px;
  max-height: 100%; }
  @media screen and (min-width: 768px) {
    .flip--cont {
      /*A partir de X px*/
      padding-top: 50px; } }

.flipper, div[class^='front--'], div[class^='back--'] {
  top: 0px;
  min-height: 200px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }
  @media screen and (min-width: 768px) {
    .flipper, div[class^='front--'], div[class^='back--'] {
      /*A partir de X px*/
      height: 180px; } }

.flipper {
  width: 100%;
  transition: 3.6s;
  /* Velocidad del giro */
  transform-style: preserve-3d;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(144, 144, 144, 0.8);
  -moz-box-shadow: 0px 0px 5px 0px rgba(144, 144, 144, 0.8);
  box-shadow: 0px 0px 5px 0px rgba(144, 144, 144, 0.8); }
  @media screen and (min-width: 768px) {
    .flipper {
      /*A partir de X px*/
      width: 86%; } }

div[class^='front--'], div[class^='back--'] {
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  transform: rotateX(0deg); }

div[class^='front--'] {
  background-image: url("../images/paper-1074136_1920.jpg");
  background-size: cover; }

div[class^='back--'] {
  background-image: url("../images/paper-1074136_1920.jpg");
  background-size: cover;
  transform: rotateX(180deg); }

div[class^='back--text'] {
  transform: rotateX(180deg); }

div[class^='back--portrait'] {
  transform: rotateY(180deg); }

.flipper--text--accion {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: flipAnima; }

@keyframes flipAnima {
  from {
    transform: rotateX(0deg); }
  to {
    transform: rotateX(180deg); } }
.flipper--text--reset {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: flipReset; }

@keyframes flipReset {
  from {
    transform: rotateX(180deg); }
  to {
    transform: rotateX(0deg); } }
.flipper--portrait--accion {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: flipPortraitAnima; }

@keyframes flipPortraitAnima {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(180deg); } }
.flipper--portrait--reset {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: flipPortraitReset; }

@keyframes flipPortraitReset {
  from {
    transform: rotateY(180deg); }
  to {
    transform: rotateY(0deg); } }
.img--zoom--accion {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: imgZoomAnima; }

@keyframes imgZoomAnima {
  from {
    transform: scale(0, 0); }
  to {
    transform: scale(1, 1); } }
.img--zoom--reset {
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  animation-name: imgZoomReset; }

@keyframes imgZoomReset {
  from {
    transform: scale(1, 1); }
  to {
    transform: scale(0, 0); } }
.img--cap--accion {
  -webkit-filter: blur 0px;
  -moz-filter: blur 0px;
  -ms-filter: blur 0px;
  -o-filter: blur 0px;
  filter: blur 0px;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transition-delay: 0.5s;
  /* Safari */
  transition-delay: 0.5s; }

.img--cap--reset {
  -webkit-filter: blur(2px);
  /* Safari 6.0 - 9.0 */
  filter: blur(2px); }

.img--lacre--accion {
  animation-direction: normal;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: easy-out;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  animation-name: lacreAnima; }

@keyframes lacreAnima {
  from {
    transform: scale(0.7, 0.7); }
  to {
    transform: scale(0.8, 0.8); } }
.desaparece {
  opacity: 0.4;
  -webkit-transition: opacity 0.9s ease-in;
  -moz-transition: opacity 0.9s ease-in;
  -o-transition: opacity 0.9s ease-in;
  -ms-transition: opacity 0.9s ease-in;
  transition: opacity 0.9s ease-in;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s; }

.aparece {
  opacity: 1;
  -webkit-transition: opacity 0.9s ease-in;
  -moz-transition: opacity 0.9s ease-in;
  -o-transition: opacity 0.9s ease-in;
  -ms-transition: opacity 0.9s ease-in;
  transition: opacity 0.9s ease-in;
  -webkit-transition-delay: 0.2s;
  /* Safari */
  transition-delay: 0.2s; }

@media screen and (min-width: 768px) {
  .text {
    /*A partir de X px*/
    text-align: left;
    columns: 3;
    -moz-columns: 3;
    -webkit-columns: 3;
    -webkit-column-gap: 4.5rem;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 4.5rem;
    /* Firefox */
    column-gap: 4.5rem;
    transform: translateY(50px); } }

@media screen and (min-width: 768px) {
  .text--accion {
    /*A partir de X px*/
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-name: textoAnima; } }

@keyframes textoAnima {
  from {
    transform: translateY(50px); }
  to {
    transform: translateY(0px); } }
@media screen and (min-width: 768px) {
  .text--reset {
    /*A partir de X px*/
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    animation-name: textoReset; } }

@keyframes textoReset {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(50px); } }
p[class^='p--text'] {
  padding: 0.5rem;
  text-align: left;
  font-size: 0.7rem;
  line-height: 1.2rem; }
  @media screen and (min-width: 468px) {
    p[class^='p--text'] {
      /*A partir de X px*/
      line-height: 1.2rem;
      font-size: 1rem; } }
  @media screen and (min-width: 992px) {
    p[class^='p--text'] {
      /*A partir de X px*/
      margin: 0.5rem; } }

.p--text--border--left {
  text-align: left;
  font-size: 0.9rem;
  line-height: 1.2rem; }
  @media screen and (min-width: 768px) {
    .p--text--border--left {
      /*A partir de X px*/
      font-size: 1rem;
      padding-left: 1.5rem;
      width: 90%;
      border-left: solid 1px #5F021F; } }

.p--small {
  padding: 0.3rem;
  width: 100%;
  font-size: 0.6rem; }

p[class^='p--text']:first-letter {
  font-family: 'Vesper Libre', serif;
  margin-left: 0.4rem;
  font-size: 1.3rem; }
  @media screen and (min-width: 468px) {
    p[class^='p--text']:first-letter {
      /*A partir de X px*/
      font-size: 1.5rem; } }

p[class^='p--cita'] {
  text-align: justify; }

.p--cita--pie {
  font-style: italic; }

h2 {
  padding: 0.5rem;
  text-align: left; }

h3 {
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  font-size: 1rem; }
  @media screen and (min-width: 768px) {
    h3 {
      /*A partir de X px*/
      font-size: 1.5rem;
      text-align: right; } }

.h3--vida {
  text-align: center; }
  @media screen and (min-width: 768px) {
    .h3--vida {
      /*A partir de X px*/
      font-size: 1.5rem;
      text-align: right; } }

.label--siglo {
  font-size: 1.7rem;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .label--siglo {
      /*A partir de X px*/
      font-size: 4rem; } }

.slide--title {
  font-size: 1.4rem; }
  @media screen and (min-width: 468px) {
    .slide--title {
      /*A partir de X px*/
      font-size: 2rem; } }
  @media screen and (min-width: 768px) {
    .slide--title {
      /*A partir de X px*/
      font-size: 3rem; } }
  @media screen and (min-width: 992px) {
    .slide--title {
      /*A partir de X px*/
      font-size: 4rem; } }
  @media screen and (min-width: 1200px) {
    .slide--title {
      /*A partir de X px*/
      font-size: 5rem; } }

h1 span {
  font-family: 'Vesper Libre', serif; }

.char24 {
  background-image: url("../images/pluma-cuervo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px; }
  @media screen and (min-width: 468px) {
    .char24 {
      /*A partir de X px*/
      width: 60px; } }
  @media screen and (min-width: 768px) {
    .char24 {
      /*A partir de X px*/
      width: 70px; } }
  @media screen and (min-width: 992px) {
    .char24 {
      /*A partir de X px*/
      width: 80px; } }
  @media screen and (min-width: 1200px) {
    .char24 {
      /*A partir de X px*/
      width: 100px; } }

.char1 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(302.5deg);
  -ms-transform: rotate(302.5deg);
  -webkit-transform: rotate(302.5deg);
  transform: rotate(302.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion1; }
  @media screen and (min-width: 468px) {
    .char1 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char1 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char1 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char1 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion1 {
  from {
    transform-origin: top center;
    transform: rotate(302.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(567.5deg); } }
.char2 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(317deg);
  -ms-transform: rotate(317deg);
  -webkit-transform: rotate(317deg);
  transform: rotate(317deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion2; }
  @media screen and (min-width: 468px) {
    .char2 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char2 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char2 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char2 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion2 {
  from {
    transform-origin: top center;
    transform: rotate(317deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(582deg); } }
.char3 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(331.5deg);
  -ms-transform: rotate(331.5deg);
  -webkit-transform: rotate(331.5deg);
  transform: rotate(331.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion3; }
  @media screen and (min-width: 468px) {
    .char3 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char3 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char3 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char3 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion3 {
  from {
    transform-origin: top center;
    transform: rotate(331.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(596.5deg); } }
.char4 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(346deg);
  -ms-transform: rotate(346deg);
  -webkit-transform: rotate(346deg);
  transform: rotate(346deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion4; }
  @media screen and (min-width: 468px) {
    .char4 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char4 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char4 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char4 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion4 {
  from {
    transform-origin: top center;
    transform: rotate(346deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(611deg); } }
.char5 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(360.5deg);
  -ms-transform: rotate(360.5deg);
  -webkit-transform: rotate(360.5deg);
  transform: rotate(360.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion5; }
  @media screen and (min-width: 468px) {
    .char5 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char5 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char5 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char5 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion5 {
  from {
    transform-origin: top center;
    transform: rotate(360.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(625.5deg); } }
.char6 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(375deg);
  -ms-transform: rotate(375deg);
  -webkit-transform: rotate(375deg);
  transform: rotate(375deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion6; }
  @media screen and (min-width: 468px) {
    .char6 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char6 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char6 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char6 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion6 {
  from {
    transform-origin: top center;
    transform: rotate(375deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(640deg); } }
.char7 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(389.5deg);
  -ms-transform: rotate(389.5deg);
  -webkit-transform: rotate(389.5deg);
  transform: rotate(389.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion7; }
  @media screen and (min-width: 468px) {
    .char7 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char7 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char7 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char7 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion7 {
  from {
    transform-origin: top center;
    transform: rotate(389.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(654.5deg); } }
.char8 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(404deg);
  -ms-transform: rotate(404deg);
  -webkit-transform: rotate(404deg);
  transform: rotate(404deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion8; }
  @media screen and (min-width: 468px) {
    .char8 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char8 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char8 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char8 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion8 {
  from {
    transform-origin: top center;
    transform: rotate(404deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(669deg); } }
.char9 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(418.5deg);
  -ms-transform: rotate(418.5deg);
  -webkit-transform: rotate(418.5deg);
  transform: rotate(418.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion9; }
  @media screen and (min-width: 468px) {
    .char9 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char9 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char9 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char9 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion9 {
  from {
    transform-origin: top center;
    transform: rotate(418.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(683.5deg); } }
.char10 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(433deg);
  -ms-transform: rotate(433deg);
  -webkit-transform: rotate(433deg);
  transform: rotate(433deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion10; }
  @media screen and (min-width: 468px) {
    .char10 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char10 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char10 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char10 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion10 {
  from {
    transform-origin: top center;
    transform: rotate(433deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(698deg); } }
.char11 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(447.5deg);
  -ms-transform: rotate(447.5deg);
  -webkit-transform: rotate(447.5deg);
  transform: rotate(447.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion11; }
  @media screen and (min-width: 468px) {
    .char11 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char11 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char11 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char11 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion11 {
  from {
    transform-origin: top center;
    transform: rotate(447.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(712.5deg); } }
.char12 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(462deg);
  -ms-transform: rotate(462deg);
  -webkit-transform: rotate(462deg);
  transform: rotate(462deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion12; }
  @media screen and (min-width: 468px) {
    .char12 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char12 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char12 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char12 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion12 {
  from {
    transform-origin: top center;
    transform: rotate(462deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(727deg); } }
.char13 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(476.5deg);
  -ms-transform: rotate(476.5deg);
  -webkit-transform: rotate(476.5deg);
  transform: rotate(476.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion13; }
  @media screen and (min-width: 468px) {
    .char13 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char13 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char13 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char13 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion13 {
  from {
    transform-origin: top center;
    transform: rotate(476.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(741.5deg); } }
.char14 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(491deg);
  -ms-transform: rotate(491deg);
  -webkit-transform: rotate(491deg);
  transform: rotate(491deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion14; }
  @media screen and (min-width: 468px) {
    .char14 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char14 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char14 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char14 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion14 {
  from {
    transform-origin: top center;
    transform: rotate(491deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(756deg); } }
.char15 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(505.5deg);
  -ms-transform: rotate(505.5deg);
  -webkit-transform: rotate(505.5deg);
  transform: rotate(505.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion15; }
  @media screen and (min-width: 468px) {
    .char15 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char15 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char15 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char15 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion15 {
  from {
    transform-origin: top center;
    transform: rotate(505.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(770.5deg); } }
.char16 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(520deg);
  -ms-transform: rotate(520deg);
  -webkit-transform: rotate(520deg);
  transform: rotate(520deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion16; }
  @media screen and (min-width: 468px) {
    .char16 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char16 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char16 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char16 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion16 {
  from {
    transform-origin: top center;
    transform: rotate(520deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(785deg); } }
.char17 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(534.5deg);
  -ms-transform: rotate(534.5deg);
  -webkit-transform: rotate(534.5deg);
  transform: rotate(534.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion17; }
  @media screen and (min-width: 468px) {
    .char17 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char17 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char17 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char17 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion17 {
  from {
    transform-origin: top center;
    transform: rotate(534.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(799.5deg); } }
.char18 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(549deg);
  -ms-transform: rotate(549deg);
  -webkit-transform: rotate(549deg);
  transform: rotate(549deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion18; }
  @media screen and (min-width: 468px) {
    .char18 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char18 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char18 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char18 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion18 {
  from {
    transform-origin: top center;
    transform: rotate(549deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(814deg); } }
.char19 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(563.5deg);
  -ms-transform: rotate(563.5deg);
  -webkit-transform: rotate(563.5deg);
  transform: rotate(563.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion19; }
  @media screen and (min-width: 468px) {
    .char19 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char19 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char19 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char19 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion19 {
  from {
    transform-origin: top center;
    transform: rotate(563.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(828.5deg); } }
.char20 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(578deg);
  -ms-transform: rotate(578deg);
  -webkit-transform: rotate(578deg);
  transform: rotate(578deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion20; }
  @media screen and (min-width: 468px) {
    .char20 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char20 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char20 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char20 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion20 {
  from {
    transform-origin: top center;
    transform: rotate(578deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(843deg); } }
.char21 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(592.5deg);
  -ms-transform: rotate(592.5deg);
  -webkit-transform: rotate(592.5deg);
  transform: rotate(592.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion21; }
  @media screen and (min-width: 468px) {
    .char21 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char21 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char21 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char21 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion21 {
  from {
    transform-origin: top center;
    transform: rotate(592.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(857.5deg); } }
.char22 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(607deg);
  -ms-transform: rotate(607deg);
  -webkit-transform: rotate(607deg);
  transform: rotate(607deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion22; }
  @media screen and (min-width: 468px) {
    .char22 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char22 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char22 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char22 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion22 {
  from {
    transform-origin: top center;
    transform: rotate(607deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(872deg); } }
.char23 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(621.5deg);
  -ms-transform: rotate(621.5deg);
  -webkit-transform: rotate(621.5deg);
  transform: rotate(621.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion23; }
  @media screen and (min-width: 468px) {
    .char23 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char23 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char23 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char23 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion23 {
  from {
    transform-origin: top center;
    transform: rotate(621.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(886.5deg); } }
.char24 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(636deg);
  -ms-transform: rotate(636deg);
  -webkit-transform: rotate(636deg);
  transform: rotate(636deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion24; }
  @media screen and (min-width: 468px) {
    .char24 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char24 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char24 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char24 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion24 {
  from {
    transform-origin: top center;
    transform: rotate(636deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(901deg); } }
.char25 {
  position: absolute;
  transform-origin: top center;
  opacity: 0;
  font-size: 2rem;
  height: 88px;
  color: black;
  -moz-transform: rotate(650.5deg);
  -ms-transform: rotate(650.5deg);
  -webkit-transform: rotate(650.5deg);
  transform: rotate(650.5deg);
  animation-direction: normal;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  animation-name: rotacion25; }
  @media screen and (min-width: 468px) {
    .char25 {
      /*A partir de X px*/
      font-size: 2.5rem;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .char25 {
      /*A partir de X px*/
      font-size: 3rem;
      height: 150px; } }
  @media screen and (min-width: 992px) {
    .char25 {
      /*A partir de X px*/
      font-size: 4rem;
      height: 180px; } }
  @media screen and (min-width: 1200px) {
    .char25 {
      font-size: 4.5rem;
      height: 220px; } }
@keyframes rotacion25 {
  from {
    transform-origin: top center;
    transform: rotate(650.5deg); }
  to {
    opacity: 0.9;
    transform-origin: bottom center;
    transform: rotate(915.5deg); } }

/*# sourceMappingURL=main.css.map */
