.flip--cont {
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        padding-top: 50px;
    }
    padding-bottom: 20px;
	perspective: 1000px;
    max-height: 100%;
}
.flipper, div[class^='front--'], div[class^='back--'] {
    top: 0px;
    min-height: 200px;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        height: 180px;
    }
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.flipper {
    width: 100%;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        width: 86%;
    }
	transition: 3.6s; /* Velocidad del giro */
	transform-style: preserve-3d;
	position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(144,144,144,0.8);
    -moz-box-shadow: 0px 0px 5px 0px rgba(144,144,144,0.8);
    box-shadow: 0px 0px 5px 0px rgba(144,144,144,0.8);
}
div[class^='front--'], div[class^='back--'] {    
    width: 100%;
    backface-visibility: hidden;
	position: absolute;
    transform: rotateX(0deg); // Very important this line
}
div[class^='front--']{
    background-image: url('../images/paper-1074136_1920.jpg');
    background-size: cover;
}
div[class^='back--']{
    background-image: url('../images/paper-1074136_1920.jpg');
    background-size: cover;
	transform: rotateX(180deg);
}
div[class^='back--text']{
	transform: rotateX(180deg);
}
div[class^='back--portrait']{
	transform: rotateY(180deg);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////
.flipper--text--accion{
    @include mixin_anima($delay: 1s, $duration: 3s, $iteration:1, $fill_mode: forwards, $timing: easy-out, $direction: normal);
    animation-name: flipAnima;
}
@keyframes flipAnima{
    from{ transform: rotateX(0deg);}
    to{ transform: rotateX(180deg);}
}
//--------------------------------------------------//
.flipper--text--reset{
    @include mixin_anima($delay: 1s, $duration: 3s, $iteration:1, $fill_mode: backwards, $timing: easy-out, $direction: normal);
    animation-name: flipReset;
}
@keyframes flipReset{
    from{ transform: rotateX(180deg);}
    to{ transform: rotateX(0deg);}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////

.flipper--portrait--accion{
    @include mixin_anima($delay: 1s, $duration: 3s, $iteration:1, $fill_mode: forwards, $timing: easy-out, $direction: normal);
    animation-name: flipPortraitAnima;
}
@keyframes flipPortraitAnima{
    from{ transform: rotateY(0deg);}
    to{ transform: rotateY(180deg);}
}
//--------------------------------------------------//
.flipper--portrait--reset{
    @include mixin_anima($delay: 1s, $duration: 3s, $iteration:1, $fill_mode: backwards, $timing: easy-out, $direction: normal);
    animation-name: flipPortraitReset;
}
@keyframes flipPortraitReset{
    from{ transform: rotateY(180deg);}
    to{ transform: rotateY(0deg);}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////
.img--zoom--accion{
    @include mixin_anima($delay: 1s, $duration: 3s, $iteration:1, $fill_mode: forwards, $timing: easy-out, $direction: normal);
    animation-name: imgZoomAnima;    
}
@keyframes imgZoomAnima{
    from{ transform: scale(0,0);}
    to{ transform: scale(1,1);}
}
.img--zoom--reset{
    @include mixin_anima($delay: 0s, $duration: 3s, $iteration:1, $fill_mode: backwards, $timing: easy-out, $direction: normal);
    animation-name: imgZoomReset;    
}
@keyframes imgZoomReset{
    from{ transform: scale(1,1);}
    to{ transform: scale(0,0);}
}
////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////
.img--cap--accion{
    @include mixin_filter($filter: blur, $size: 0px);
    @include mixin_transition($delay: 0.5s, $lista: all 1s ease-in);
}
.img--cap--reset{    
    -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////


.img--lacre--accion{
    @include mixin_anima($delay: 1s, $duration: 2s, $iteration:infinite, $fill_mode: forwards, $timing: easy-out, $direction: normal);
    animation-name: lacreAnima;    
}
@keyframes lacreAnima{
    from{ transform: scale(0.7,0.7);}
    to{ transform: scale(0.8,0.8);}
}


///////////////////////////////////////////////////////
.desaparece{
	//background-color: silver;
    opacity: 0.4;
    @include mixin_transition($delay: 0.2s, $lista: opacity 0.9s ease-in);
}
.aparece{
    opacity: 1;
    @include mixin_transition($delay: 0.2s, $lista: opacity 0.9s ease-in);
}