

*{
	padding: 0;
	margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-family: 'Ropa Sans', sans-serif;
}

html{
    font-size: 16px;
}

body{
    position: relative;
    height: 100%;
    overflow-y: scroll;
    //background-color: rgb(15, 15, 15);
    //background-color:  white;
}

footer{
    min-height: 100px;
    line-height: 100px;
    color: grey;
    background-color: rgb(201, 208, 167);
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
    }
}

.container{
    height: 100%;
	width: 100%;
	//: solid 1px darkred; // Orienta
}

.separador{
    height: 30px;
}
#header--top{
    background-color: white;
    top: 0;
    color: grey;
    text-align: left;
    height: 35px;
    text-align: center;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        height: 50px;
        text-align: left;
    }
}

.img_logo{
    height: 35px;
    width: 231px;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        height: 50px;
        width: 330px;
    }    
}

.affix{
    top: 0;
    width: 100%;
    z-index: 1000 !important;
}

.carousel--gutters{
    padding-left: 15px;
    padding-right: 15px;
}
////////////////////////////////////////////////////////
// Parallax

.row--parallax{
    min-height: 50px;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        max-height: 30px;
    }  
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        min-height: 40px;
    }  
    @media screen and (min-width : #{$break-lg}px ) { /*A partir de X px*/
        min-height: 50px;
    }  
    /* The image used */
    background-image: url('../images/firma_cervantes.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div[class^='row'].no-gutter {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

div[class^='row'].no-gutter [class*='col-']:not(:first-child), div[class^='row'].no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}
.container div[class^='row'] div[class*='col']{
    height: 100%;
}


.w--1024px{
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        max-width: 1024px;
    }
}

div[id^='row--cont--ar--0--0']{
    min-height: 200px !important;
    width: 100%;
    max-width: 1024px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        min-height: 275px !important;
    }
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        min-height: 300px !important;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        min-height: 325px !important;
    }
    @media screen and (min-width : #{$break-lg}px ) { /*A partir de X px*/
        min-height: 350px !important;
    }
}
#row--cont--ar--0--0--f2{
    background-image: url('../images/Valencia/Cervantes_en_Valencia-4.png'); 
}

div[id^='row--cont--ar--0--1']{
    min-height: 400px !important;
    background-image: url('../images/img_00_small.jpg');
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        background-image: url('../images/img_00_medium.jpg');
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        background-image: url('../images/img_00.jpg');
    }
    background-size: cover;
}

.rostro{
    max-width: 1024px;
    min-height: 350px !important;
    background-image: url('../images/Rostro/slide.jpg');
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
    }
}

.img--long{
    height: 60px;
    width: 100%;
}

#row--long--5-1, #row--long--5-2, #row--long--1-1{
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
}
.centrar{
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
}
#row--cont--ar--5-2{
    height: 180px !important;
}

div[class^='row'].no-gutters {
    margin-right: 0;
    margin-left: 0;
}
div[class^='row'].no-gutters > [class^="col-"],
div[class^='row'].no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.h--180px{
    min-height: 180px;
}
.h--200px{
    min-height: 200px;   
}
.h--300-200px{
    max-height: 200px;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        min-height: 300px;
    }
}

.color--1{
    background-color:  white;
    //background-color:  rgb(15, 15, 15);
}
.color--2{
    background-color:  white;
}
.img--pluma{
    margin-top: 50px;
    transform: scale(0,0);
}
.img--lacre{
    height: 40px;
    width: 40px;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        height: 50px;
        width: 50px;
    }
}
//paper-1074136_1920.jpg
img[id^='img--cap--small']{
    border: solid 4px;    
    -webkit-border-image: url(../images/paper-1074136_1920.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/paper-1074136_1920.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/paper-1074136_1920.jpg) 30 round;
    width: 100%;
    max-width: 300px;
    height: 200px !important;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        display: none;
    }
}
img[id^='img--cap--medium']{
    border: solid 4px;
    -webkit-border-image: url(../images/paper-1074136_1920.jpg) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(../images/paper-1074136_1920.jpg) 30 round; /* Opera 11-12.1 */
    border-image: url(../images/paper-1074136_1920.jpg) 30 round;
    width: 100%;
    display: none;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        display: block;
    }
}


div[class^='flex--']{
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    display: flex;
    
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 200px;
}
.item--flex{
    width: 94%;
}
.sec--lacre{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.div--flex--click{
    width: 80%;
    text-align: right;
}
.div--flex--lacre{
    width: 20%;
}
.span--text{
    position: absolute;
    float: left;
    top: 3px;
    left: 3px;
    color: silver;
    z-index: 9999;
}
.img--lacre{    
    cursor: pointer; 
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
    }
}

#caja--1, #caja--2{
    min-height: 200px !important;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        min-height: 275px !important;
    }
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
    }
}

.img--res{
    height: 100%;
    width: 100%;
}

.div-text-giro{
    height: 100px;
    width: 100px;
    border: solid 1px;
    position: absolute;
    top: 0px;
    left: 45%;
    @media screen and (min-width : #{$break-lg}px ) { //A partir de X px
        top: 0px;
        left: 248px;
    }
}
#miBarra{
    font-size: 1.3rem;
    background-color: rgb(201, 208, 167);
    border: none;
}
.mod{
    border: none;
}

.img-valencia{
    max-width: 200px;
    @media screen and (min-width : #{$break-xs}px ) { //A partir de X px
        max-width: 300px;
    }
}