////////De momento no utilizo nada de esto////
.contents--h, .contents--v {
    color: gainsboro;
    margin-left: 0;
    overflow:hidden;  
    background-color: #968B07; 
    text-shadow: 2px 0px 1px black;
}
.contents--v--side--left {
    overflow:hidden;
    white-space: nowrap;
    font-size: 3rem;
    color: gainsboro;
    background-color: #5F021F;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.contents--h {
    height: 100%;
    width:0%;
}
.contents--h--accion {
    width:100%;
    @include mixin_transition($delay: 3s, $lista: width 2s ease-in-out);
}
.contents--v {
    height: 0%;
    width: 100%;
}
.contents--v--accion {
    height: 100%;
    @include mixin_transition($delay: 3s, $lista: height 2s ease-in-out);
}
.contents--v--side--left {
    height: 0%;
    width: 100%;
}
.contents--v--side--left--accion {
    height: 350px;
    @include mixin_transition($delay: 3s, $lista: height 2s ease-in-out);
    
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        height: #{$portrait_height_sm}px;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        height: #{$portrait_height_md}px;
    }
}