
.text{
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        @include mixin_texto($align: left, $columns: 3, $gap: 4.5rem);
        transform: translateY(50px);
    }
}
.text--accion{
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        @include mixin_anima($delay: 1s, $duration: 1s, $iteration:1, $fill_mode: forwards, $timing: linear, $direction: normal);
        animation-name: textoAnima;
    }
}
@keyframes textoAnima{
    from{ transform: translateY(50px);}
    to{ transform: translateY(0px);}
}
.text--reset{
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        @include mixin_anima($delay: 1s, $duration: 1s, $iteration:1, $fill_mode: backwards, $timing: linear, $direction: normal);
        animation-name: textoReset;
    }
}
@keyframes textoReset{
    from{ transform: translateY(0px);}
    to{ transform: translateY(50px);}
}

p[class^='p--text']{
    padding: 0.5rem;    
    text-align: left;
    font-size: 0.7rem;
    line-height: 1.2rem;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        line-height: 1.2rem;
        font-size: 1rem;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        margin: 0.5rem;
    }
}

.p--text--border--left{
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.2rem;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        font-size: 1rem;
        padding-left: 1.5rem;
        width: 90%;
        border-left: solid 1px #5F021F;
    }
}

.p--small{
    padding: 0.3rem;
    width: 100%;
    font-size: 0.6rem;
}

p[class^='p--text']:first-letter{ // First letter is the biggest
    font-family: 'Vesper Libre', serif;
    margin-left: 0.4rem;
    font-size: 1.3rem;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        font-size: 1.5rem;
    }
}
p[class^='p--cita']{
    text-align: justify;
}
.p--cita--pie{
    font-style: italic;
}
h2{
    padding: 0.5rem;
    text-align: left;
}
h3{
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    font-size: 1rem;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        font-size: 1.5rem;
        text-align: right;
    }
}

.h3--vida{
    text-align: center;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        font-size: 1.5rem;
        text-align: right;
    }
}

.label--siglo{
    font-size: 1.7rem;
    font-weight: bold;
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        font-size: 4rem;
    }
}

.slide--title{
    font-size: 1.4rem;
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        font-size: 2rem;
    }
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        font-size: 3rem;
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        font-size: 4rem;
    }
    @media screen and (min-width : #{$break-lg}px ) { /*A partir de X px*/
        font-size: 5rem;
    }
}

///////////////////////////////////////////////////////

h1 span {
    font-family: 'Vesper Libre', serif;
}

.char24{   
    background-image: url('../images/pluma-cuervo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px; 
         
    @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
        width: 60px; 
    }
    @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
        width: 70px; 
    }
    @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
        width: 80px; 
    }
    @media screen and (min-width : #{$break-lg}px ) { /*A partir de X px*/
        width: 100px; 
    }    
}

$ini:288;

@for $i from 1 to 26{ 
    .char#{$i}{
        position: absolute;
        transform-origin: top center;
        opacity: 0;
        font-size: 2rem;
        height: 88px;
         
        @media screen and (min-width : #{$break-xs}px ) { /*A partir de X px*/
            font-size: 2.5rem;
            height: 120px;
        }
        @media screen and (min-width : #{$break-sm}px ) { /*A partir de X px*/
            font-size: 3rem;
            height: 150px;
        }
        @media screen and (min-width : #{$break-md}px ) { /*A partir de X px*/
            font-size: 4rem;
            height: 180px;
        }
        @media screen and (min-width : #{$break-lg}px ) { //A partir de X px
            font-size: 4.5rem;
            height: 220px;
        }
        
        //text-shadow: 1px 1px 1px #000;
        color: black;
        
        $g:$ini+14.5;
        $ini:$g;
        $fin-bucle:$g+265;
        -moz-transform: rotate(#{$g}deg);
        -ms-transform: rotate(#{$g}deg);
        -webkit-transform: rotate(#{$g}deg);
        transform: rotate(#{$g}deg);
        
        @include mixin_anima($delay: 0.5s, $duration: 3s, $iteration:1, $fill_mode: forwards, $timing: ease , $direction: normal);
        animation-name: rotacion#{$i};        
        
        @keyframes rotacion#{$i}{
            from{
                transform-origin: top center;
                transform: rotate(#{$g}deg);
            }
            to{ 
                opacity: 0.9;
                transform-origin: bottom center;
                transform: rotate(#{$fin-bucle}deg);
            }
        }
    }     
}