$break-xs: 468;
$break-sm: 768;
$break-md: 992;
$break-lg: 1200;
$info_flips:40;
$portrait_height_xs:$info_flips * 4;
$col_text: $portrait_height_xs -$info_flips;
$portrait_height_sm: 200;
$portrait_height_md: 250;

@import "mixins/mixins";
@import "general";
@import "animaciones";
@import "text";
