@mixin mixin_anima($delay, $duration, $iteration, $fill_mode, $timing, $direction){    
    animation-direction: $direction;
    animation-duration: $duration;
    animation-fill-mode: $fill_mode;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;
    -webkit-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin mixin_transition($delay, $lista){
    -webkit-transition: $lista;
    -moz-transition: $lista;
    -o-transition: $lista;
    -ms-transition: $lista;
    transition: $lista;
    -webkit-transition-delay: $delay; /* Safari */
    transition-delay: $delay;
}
@mixin mixin_transition_letras($transform-origin, $delay, $lista){
    transform-origin: $transform-origin;
    -webkit-transition: $lista;
    -moz-transition: $lista;
    -o-transition: $lista;
    -ms-transition: $lista;
    transition: $lista;
    -webkit-transition-delay: $delay; /* Safari */
    transition-delay: $delay;
}
@mixin mixin_filter($filter, $size){
    -webkit-filter: $filter($size);
       -moz-filter: $filter($size);
        -ms-filter: $filter($size);
         -o-filter: $filter($size);
            filter: $filter($size);

}


@mixin mixin_texto($align, $columns, $gap){
    text-align: $align;    
    columns: $columns;
    -moz-columns: $columns;
    -webkit-columns: $columns;
        
    -webkit-column-gap: $gap; /* Chrome, Safari, Opera */
    -moz-column-gap: $gap; /* Firefox */
    column-gap: $gap;    
}